body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0; 
    text-align: center;
    background-color: black;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
    padding: 3% 5% 3% 5%
}



.post {
    margin: 10%;
    width: 400px;
    margin: auto;
    background-color: white;
    margin-top: 60px;
}

.post-header span {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

i {
    font-size: 20px;
}

.post-body {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.post-description {
    padding: 3%;
}

 p {  
    text-align: justify;
}
  

.icon-header {
    display: flex;
    align-items: center;
}

